/* This file is for your main application css. */

@import "./phoenix.css";

.game-container {
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 1rem;
}

.faint {
    opacity: 0.1;
}
